.app-container {
  display: flex;
  height: 100vh;

  &.collapsed app-sidebar {
    width: 70px;
    min-width: 70px;
  }

  &.collapsed .main-content {
    margin-left: 70px;
    width: calc(100% - 70px);
  }
}

app-sidebar {
  width: 250px;
  min-width: 250px;
  background-color: #ffffff;
  color: #333;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: width 0.3s ease;
}

.main-content {
  margin-left: 250px;
  padding: 2rem;
  width: calc(100% - 250px);
  overflow-y: auto;
  background: #f8f9fa;
  transition: margin-left 0.3s ease, width 0.3s ease;
}
