<div class="org-list-container">
  <h2>Organizations</h2>
  <button class="btn btn-primary mb-3" (click)="openModal()">Add Organization</button>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Users</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let org of organizations">
      <tr>
        <td>{{ org.name }}</td>
        <td>{{ org.description }}</td>
        <td>
          <button class="btn btn-link" (click)="toggleExpand(org._id)">
            {{ expandedOrgId === org._id ? 'Hide Users' : 'Show Users' }}
          </button>
        </td>
        <td>
          <button class="btn btn-sm btn-secondary" (click)="openModal(org)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteOrganization(org._id)">Delete</button>
          <button class="btn btn-sm btn-info" (click)="goToProjects(org._id)">Projects</button>
        </td>
      </tr>
      <tr *ngIf="expandedOrgId === org._id">
        <td colspan="4">
          <ul>
            <li *ngFor="let user of org.users">{{ user.name }} ({{ user.email }})</li>
          </ul>
          <button class="btn btn-sm btn-success" (click)="addUser(org._id)">Add User</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
