<!-- calendar.component.html -->
<div class="flex justify-between items-center mb-6 px-4 container my-8">
  <h2 class="text-2xl font-semibold text-gray-900">Calendar</h2>
  <button (click)="onCreateEvent()"
    class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition flex items-center gap-2 shadow-md">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
    </svg>
    Create Event
  </button>
</div>

<section class="relative py-4 px-4">
  <div class="max-w-7xl mx-auto">
    <app-calendar-header [currentMonth]="currentMonth" (monthChange)="onMonthChange($event)">
    </app-calendar-header>

    <app-calendar-grid [currentMonth]="currentMonth" [events]="events" (editEvent)="onEditEvent($event)"
      (deleteEvent)="onDeleteEvent($event)" (createEventForDay)="onCreateEventForDay($event)">
    </app-calendar-grid>
  </div>
</section>

<app-event-form-dialog *ngIf="showForm" [event]="selectedEvent" [users]="users" (close)="showForm = false"
  (submitSuccess)="onSubmitSuccess()">
</app-event-form-dialog>