<div class="sidebar">
  <div class="logo">
    <img src="../assets/logo.png" alt="Logo" />
    <span class="title">TASKO</span>
  </div>

  <nav class="nav-links">
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="icon-clock"></i>
      <span>Dashboard</span>
    </a>
    <a routerLink="/timelines" routerLinkActive="active">
      <i class="icon-timeline"></i>
      <span>Timelines</span>
    </a>
    <a routerLink="/projects" routerLinkActive="active">
      <i class="icon-projects"></i>
      <span>Projects</span>
    </a>
    <a routerLink="/tasks" routerLinkActive="active">
      <i class="icon-tasks"></i>
      <span>Tasks</span>
    </a>
    <a routerLink="/collaboration" routerLinkActive="active">
      <i class="icon-collab"></i>
      <span>Collaboration</span>
    </a>
  </nav>
</div>
