
<div class="sidebar">
  <div class="logo">
    <img class="title" src="assets/logo.png" />
  </div>
  <nav class="nav-links">
    <a href="/member" routerLinkActive="active">
      <i class="icon-clock"></i>
      <span>Dashboard</span>
    </a>
    <a routerLink="/timelines" routerLinkActive="active">
      <i class="icon-timeline"></i>
      <span>Timelines</span>
    </a>
    <a  href="/member/projects" routerLinkActive="active">
      <i class="icon-projects"></i>
      <span>Projects</span>
    </a>
    <a routerLink="/blogs" routerLinkActive="active">
      <i class="icon-tasks"></i>
      <span>Blog</span>
    </a>
    <a routerLink="/collaboration" routerLinkActive="active">
      <i class="icon-collab"></i>
      <span>Collaboration</span>
    </a>
  </nav>
</div>
