
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Create  Account</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        
      
      <form (ngSubmit)="onSubmit()" #form="ngForm" class="space-y-6" >
        <div>
            <label for="email" class="block text-sm/6 font-medium text-gray-900">Full Name</label>
            <div class="mt-2">
              <input type="text"  [(ngModel)]="nom" name="nom" required name="nom" id="nom" autocomplete="nom" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>
        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
          <div class="mt-2">
            <input type="email"  [(ngModel)]="email" name="email" required name="email" id="email" autocomplete="email" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
           
          </div>
          <div class="mt-2">
            <input type="password"  [(ngModel)]="motDePasse"  name="password" id="password" autocomplete="current-password" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>
  
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
        </div>
       <div *ngIf="showError"hlmAlert variant="destructive">
            <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
            <h4 hlmAlertTitle>Unexpected Error</h4>
            <p hlmAlertDesc>{{ errorMessage }}</p>
          </div>
          <div *ngIf="showSuccess"hlmAlert variant="destructive">
            <ng-icon hlm hlmAlertIcon name="lucideTriangleAlert" />
            <h4 hlmAlertTitle>Unexpected Error</h4>
            <p hlmAlertDesc>{{ errorMessage }}</p>
          </div>
      </form>
    

      <p class="mt-10 text-center text-sm/6 text-gray-500">
        Already have an account?
<a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Sign in</a>
      
      </p>

      <div id="googleButton" class="flex justify-center my-4"> </div>
    </div>
    
  </div>
  


